body {
    font-family: sans-serif;
}
h1 {
    font-family: sans-serif;
    color: darkblue;
}
code {
    font-family: monospace;
    color: red;
}
li.green code {
    color: green;
}
li {
    font-family: inherit;
}
ol {
    background-color: white;
}

li.green ~ li , li.green {
    background-color: black;
    color: white;
}

ol > li {
    background-color: black;
    color: white;
}